<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>登录</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link type="text/css" th:href="@{/css/icons.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link type="text/css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/login/login.js}"></script>
</head>
<body>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">
            <div class=" container">
                <div class="text-center mt-0 m-b-15">
                    <img th:src="@{/image/logo.jpg}" class="img-responsive m-t-10" width="50px" height="50px">
                </div>
                <form>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="align-self-center">
                            <i class="fa fa-user-o fa-2x fa-fw"></i>
                        </div>
                        <div class="p-2 w-l">
                            <input class="form-control" type="text" name="username" placeholder="请输入用户名" required>
                        </div>
                        <div class="align-self-center">
                            <a href="#" data-toggle="modal" data-target="#register">立即注册</a>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="align-self-center">
                            <i class="fa fa-lock fa-2x fa-fw"></i>
                        </div>
                        <div class="p-2 w-l">
                            <input class="form-control" type="password" name="username" placeholder="请输入密码" required>
                        </div>
                        <div class="align-self-center">
                            <a href="#">忘记密码</a>
                        </div>
                    </div>
                    <div class="text-center mt-0 m-b-15">
                        <button class="btn btn-primary m-t-20 " type="submit" name="username" style="width: 65%" data-toggle="modal" data-target="#myModal">登录</button>
                    </div>
                    <div class="text-center mt-0 m-b-15">
                    <label >
                        <input type="checkbox"> 自动登录
                    </label>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>


<!-- 注册模态框 -->
<div class="modal fade" id="register" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">我要注册</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
                <div class="modal-body" >
                    <form method="POST" action="/user/register"  id="loginForm">
                        <div class="form-group row  "  >
                            <label for="account"  class="col-2" style="margin-top: 4px"><i class="fa fa-user-circle fa-2x fa-fw" ></i></label>
                            <div class="col-10">
                                <input type="text" class="form-control " id="account" name="account" placeholder="请输入用户账号"  >
                                <sapn id="accountMsg" style="color: #f00" ></sapn>
                            </div>
                        </div>
                        <div class="form-group row " >
                            <label for="password" class="col-2" style="margin-top: 4px"><li class="fa fa-lock fa-2x fa-fw"></li></label>
                            <div class="col-10">
                                <input type="password" class="form-control "  id="password" name="password" placeholder="请输入密码"  >
                                <sapn id="mobiMsg" style="color: #f00;"></sapn>
                            </div>
                        </div>
                        <div class="form-group row " >
                            <label for="confirmPassword" class="col-2" style="margin-top: 4px"><li class="fa fa-lock fa-2x fa-fw"></li></label>
                            <div class="col-10">
                                <input type="password" class="form-control equalTo:'#password'"  id="confirmPassword" name="confirmPassword" placeholder="请确认密码"    >
                                <sapn id="mobiMsg" style="color: #f00;"></sapn>
                            </div>
                        </div>
                        <div class="form-group row " >
                            <label for="userEmail" class="col-2" style="margin-top: 4px"><li class="fa fa-envelope-open fa-2x fa-fw"></li></label>
                            <div class="col-10">
                                <input type="text" class="form-control email"  id="userEmail" name="email" placeholder="请输入邮箱"    >
                                <sapn id="mobiMsg" style="color: #f00;"></sapn>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-1"></div>
                            <button type="submit" class="btn btn-primary col-10" id="login-btn"  >注册</button>
                        </div>
                    </form>
                </div>


        </div>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        $("#login-btn").click(function () {
            var validator = $("#loginForm").validate({
                rules: {
                    "account": {
                        "required": true,
                        "minlength": 3
                    },
                    "password": {
                        "required": true,
                        "minlength": 6
                    },
                    "confirmPassword": {
                        "required": true,
                        "minlength": 6,
                        "equalTo":"#password"
                    },
                    "email": {
                        "required": true,
                        "email": true
                    },
                },
                messages: {
                    "account": {
                        "required": "请输入登录名",
                        "minlength": "登录名最小3个字符"
                    },
                    "password": {
                        "required": "请输入密码",
                        "minlength": "密码最小6个字符"
                    },
                    "confirmPassword": {
                        "required": "请输入确认密码",
                        "minlength": "登录名最小6个字符",
                        "equalTo":"两次输入的密码不一致",
                    },
                    "email": {
                        "required": "请输入邮箱",
                        "email": "请输入正确的邮箱"
                    },
                }
            });

            $("#login-btn").click(function () {
                $("#loginForm").validate().form();
            });
        })
    })
</script>


</body>
</html>