<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>登录</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link type="text/css" th:href="@{/css/icons.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link type="text/css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/login/login.js}"></script>
</head>
<body>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">
            <div class=" container">
                <div class="text-center mt-0 m-b-15">
                    <img th:src="@{/image/logo.jpg}" class="img-responsive m-t-10" width="50px" height="50px">
                </div>
                <form>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="align-self-center">
                            <i class="fa fa-user-o fa-2x fa-fw"></i>
                        </div>
                        <div class="p-2 w-l">
                            <input class="form-control" type="text" name="username" placeholder="请输入用户名" required>
                        </div>
                        <div class="align-self-center">
                            <a href="#" data-toggle="modal" data-target="#register">立即注册</a>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="align-self-center">
                            <i class="fa fa-lock fa-2x fa-fw"></i>
                        </div>
                        <div class="p-2 w-l">
                            <input class="form-control" type="password" name="username" placeholder="请输入密码" required>
                        </div>
                        <div class="align-self-center">
                            <a href="#">忘记密码</a>
                        </div>
                    </div>
                    <div class="text-center mt-0 m-b-15">
                        <button class="btn btn-primary m-t-20 " type="submit" name="username" style="width: 65%" data-toggle="modal" data-target="#myModal">登录</button>
                    </div>
                    <div class="text-center mt-0 m-b-15">
                    <label >
                        <input type="checkbox"> 自动登录
                    </label>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>


<!-- 注册模态框 -->
<div class="modal fade" id="register">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">我要注册222</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
                <div class="modal-body" >
                    <form method="POST" action="/file/upload" enctype="multipart/form-data" >
                        <input type="file" name="file" /><br/><br/>
                        <input type="submit" value="Submit" />
                    </form>
                </div>


        </div>
    </div>
</div>



</body>
</html>