<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>登录</title>
    <style>
        #box {
            background-color: pink;
            width: 200px;
            height: 100px;
        }
    </style>
    <script type="text/javascript" src="../static/js/jquery-1.12.4.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>-->

</head>
<body>
        <div id="box"></div>

        <script>
            $(function () {
                alert("====");
            });
        </script>

</body>
</html>